@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

:root{
    --cor-primary: #2C3639;
}

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box; /* Adicionei para garantir que o box-sizing seja aplicado a todos os elementos */
}

body {
    height: 100vh;
    background-color: #F2CF1D;
}

.logo__vinagre {
    width: 130px;
    border-radius: 16px;
    border-color: #F2E313;
    background-color: #F2E313;
    margin-right: 10px;
    margin: 0.8%;
}

.cabecalho {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5%;
}

.cabecalho__menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.cabecalho__menu__link {
    font-size: 1.6rem;
    font-weight: 600px;
    color: #BF4904;
    text-decoration: none;
    flex-grow: 5;
    margin: 0;
    padding: 0;
}

.cabecalho__menu__link__acesso__login {
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: 600px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #BF4904;
    width: 9%;
    background: #BF4904;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.cabecalho__menu__link__acesso__login:hover {
    background-color: #555;
}

.imagem_historia {
    width: 100%; /* Ajustei para garantir que a imagem não ultrapasse a largura do contêiner */
}

.imagens__produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; /* Substituí padding por gap */
    padding: 30px;
    margin: 0; /* Removi margem para evitar transbordamento */
}

.imagem {
    width: 80%; /* Ajustei para garantir que a imagem não ultrapasse a largura do contêiner */
    box-sizing: border-box;
    display: block;
    padding: 15px;
}

.item__imagem {
    width: 100%; /* Ajustei para garantir que a imagem não ultrapasse a largura do contêiner */
    border-radius: 16px;
}

.rodape {
    padding-block-end: 3%;
    font-family: "Montserrat", sans-serif;
    color: #01403;
    font-size: 16px;
    line-height: 1.5;
    margin: 2%;
}

.rodape__endereco {
    display: flex;
    align-items: center;
    gap: 10px;
}

hr {
    height: 5px;
    background-image: linear-gradient(to right, transparent, rgba(255, 0, 0, 0.486), transparent);
    border: 0;
}
